<Configuration status="debug" name="logger" packages="">
    <Appenders>
        <File name="fileLogger" fileName="out.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%nw</Pattern>
            </PatternLayout>
        </File>
        <Root level="INFO">
            <AppenderRef ref="fileLogger" />
        </Root>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <appender-ref ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>