<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Shop</title>
</head>
<body>

<nav>
    <div>
        <a href="#">OnlineShop</a>
        <a href="/product/add">Add product</a>
    </div>
</nav>

<div class="container">
    <h1>Shop list</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
    </tr>
    </thead>

    <tbody>
    <#list products as product>
    <tr>
        <td>${product.id}</td>
        <td>${product.name}</td>
        <td>${product.price}</td>
    </tr>
    </#list>
    </tbody>
</table>

</div>

</body>
</html>